@charset "UTF-8";
@import "~antd/dist/antd.css";
/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
.title{
  /* height:30px; */
  height: 100%;
  width: 100%;

  line-height:30px;

  /* text-align: right; */
  
  text-indent: 55em;
  
  background: #2b2a2a;

  color:rgba(255, 255, 255, 0.651);

  padding:0px;
}
.topright{
  margin-left: 60px;
}
.bottom{
  /* height:200px; */
  height: 100%;
  width: 100%;
  line-height:20px;
  
  background: #2b2a2a;

  color:#fff
}
.bottomdiv{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.bottomdiv1{
  width: 1000px;
  margin-left:100px;
  margin-top: 20px;
}
.bottomdiv2{
  width:400px;
  margin-right:100px;
  margin-top: 20px;
}
.bottomsmartcite{
  font-family: monospace;
  font-size: xx-large;
}
.bottomcontent1{
  font-family: 微软雅黑;
  margin-right:100px;
  color:rgba(255, 255, 255, 0.651)
}
.bottomcontent2{
  font-family: 微软雅黑;
  margin-right:100px;
  color:rgba(255, 255, 255, 0.651)
}
.bottomicon{
  display: flex;
  flex-direction: row;
}
.bottomicon2{
 margin-left: 20px;
}


/* .toplink{
  text-align: right;
  backgroundColor:'red'
} */
.home{
  /* background: #4b28281e; */
  background: #ffffff;
  height:577px;
  margin-top: 0px;
}
.smartcite{
  font-family: fantasy;
  color:#2dc17a;
  font-size: 80px;
  font-weight:  bold; 
  text-align: center;
  padding: 100px 5px 30px 5px;
}
.button{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0px;
}
.submit{
  margin-left: 20px;
}
 
/* 第二页 */
.resulttitle{
  background: #ffffff;
  height:80px;
  margin-top: 0px;
  display: flex;
  flex-direction: row;
}
.smartcite2{
  font-family: fantasy;
  color:#2dc17a;
  font-size: 50px;
  font-weight:  bold; 
  text-align: left;
  margin-left: 100px;
  padding: 10px;
}
.searchbutton2{
  padding: 30px;
  margin-left: 300px;
}
.result{
  background: #dfd4d436;
  height:500px;
  margin-top: 0px;
}
.resultcontent{
  display: flex;
  flex-direction: row;
}
.resultcontent1{
  width:500px;
  margin-left: 150px;
  margin-top:50px;
  font-family:Microsoft YaHei;
  font-size: 20px;
}
.resultcontent2{
  width:400px;
  margin-left: 50px;
  margin-top:50px;
  font-family:Microsoft YaHei;
  font-size: 20px;

}
